<div class="div-card">
    <div class="div-image-card">
        <img src="https://s3-sa-east-1.amazonaws.com/doctoralia.com.br/doctor/7c932a/7c932ad0bf8a39fa57e099ab2a49a4b6_large.jpg" alt="">
    </div>
    <div class="div-p-card">
        <p><strong>João da Silva</strong></p>
        <p class="p-light">Maringá - PR</p>
        <p class="p-light">Angular, Jquery, Vue</p>
    </div>
    <div class="div-icons-card">
        <a href="">Acessar GitHub</a>
        <div class="icons">
            <button id="button-edit">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button id="button-delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
